<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>사람 정보 상세 보기</h1>
    번호: <%= saram.no %><br>
    성명: <%= saram.name %><br>
    이메일: <%= saram.email %><br>
    직업: <%= saram.job %>
    <hr>
    <a href="/saram/edit?no=<%= saram.no %>">수정</a>
    <a href="/saram/delete?no=<%= saram.no %>">삭제</a>
</body>
</html>